#content {
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    color: black;
    text-align: center;
}

#sentence {
    font-size: 4em;
    height: 400px;
}

a:link {
    color: black;    
}

a:visited {
    color: black;
}

#refresh {
    font-size: 1em:
}
    