<!doctype html>
<html lang="en">
  <html>
  <head>
    <title>Retorical Balls</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="content">
      <div id="sentence">
        <a href="/"><p>{{ sentence }}</p></a>
      </div>

      <div id="comic">
        <a href="http://www.qwantz.com/index.php?comic=2995"><img src="./static/balls.png" title="the ball is [in/on/outside/beside/upside/around/beneath/above/placed gingerly inside] [his/her/our/my/your/their/its/everyone's] [court/roof/robot factory/astonished mouth/secret compartment/house/general direction/wildest dreams/butt]"></a>
      </div>
    </div>
  </body>

</html>
